name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: ./be-camp-cuss
          file: ./be-camp-cuss/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/be-camp-cuss:latest
            ghcr.io/${{ github.repository_owner }}/be-camp-cuss:${{ github.sha }}
