name: Preparation for CI/CD

on:
  workflow_run:
    workflows: ['Build and Publish Docker Image']
    types:
      - completed

jobs:
  preparation:
    name: Preparation Step
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4

      # Cek perubahan docker-compose.yml
      - name: Check for docker-compose.yml Changes
        id: compose_check
        run: |
          git fetch origin main
          if git diff --name-only origin/main...HEAD | grep -q '^be-camp-cuss/docker-compose.yml$'; then
            echo "compose_changed=true" >> $GITHUB_OUTPUT
          else
            echo "compose_changed=false" >> $GITHUB_OUTPUT
          fi

      # Upload compose bila berubah
      - name: Upload docker-compose.yml to Server
        if: ${{ steps.compose_check.outputs.compose_changed == 'true' }}
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: 'be-camp-cuss/docker-compose.yml'
          target: '/tmp'

      - name: Move docker-compose.yml to Deployment Directory
        if: ${{ steps.compose_check.outputs.compose_changed == 'true' }}
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            sudo mkdir -p /opt/be-camp-cuss
            mv /tmp/docker-compose.yml /opt/be-camp-cuss/docker-compose.yml
            sudo chown root:root /opt/be-camp-cuss/docker-compose.yml
            sudo chmod 644 /opt/be-camp-cuss/docker-compose.yml
